<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        幹話產生器
      </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>
